
html, body {
    height: 100%;
}

body {
    background: #ffffff;
    font-family: 'Krona One', sans-serif;    
    color: #130F49;
}

.container .principal img {
    width: 100px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display: block;
    box-shadow: 0 0 20px white;
    animation: floating 1s ease-in-out alternate infinite;
}

@keyframes floating {
    to {
        transform: translateY(4px);
    }
}

h2 {
    text-align: center;
    margin-top: 13px;
    margin-bottom: 0;
    text-shadow:2px 1px 1px #98a7e9;
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
}

h4 {
    text-align: center;
    margin-top: 12px;
    margin-bottom: 21px;
    font-size: 13px;
}

.social {
    display: flex;
    justify-content: space-around;
    list-style: none; 
    padding: 20px;
    padding-top: 2px;
    padding-bottom: 8px;
}

.social img {
    width: 33px;
}

.linha {
    margin-top: 0px;
    text-align: center;
    display: block;
    margin-right: 30px;
}

.text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 35px;
    border-style: inset;
    padding: 10px;
    letter-spacing: 1px;  
    line-height: 25px;
}

.links-list {
    list-style: none;
    margin-top: 18px;
}

.links-list li {
    margin: 10px 20px;
}

.links-list li a {
    display: block;
    background: rgb(73, 78, 144);
    padding: 15px 20px;
    border-radius: 4px;
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-weight: bold;
}

.links-list li a span {
    color: gray;
    display: block;
    margin-top: 10px;
}

footer {
    text-align: center;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 30px;
}

footer a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
}